.Layout {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.App {
  height: 100%;
}



.aua {
  height: 100vh;
  flex:1;
}

.inp {
  height:100%;
  width: 100%;
  white-space: pre-line;
  border-radius: 5px;
}

.inpEdge {
  width: 35px;
  margin: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 0px;
}

.form {
  background-color: rgb(74, 113, 210);
  width: auto;
  height: auto;
  color: rgb(229, 229, 229);
  font-size:18px;
}

.tableJ {
  border: 1px solid #eee;
  margin-bottom: 20px;
  color:black;
  width: 100%;
}

.tableJ th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.tableJ td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
  
}

.tableJ tbody tr:nth-child(odd) {
  background: #fff;
}

.tableJ tbody tr:nth-child(even) {
  background: #F7F7F7;
}

.tableHeader {
  background-color: rgb(74, 113, 210);
  color: white;
}

.head {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 600;
}

.button {
  border-radius: 5px;
}

.form1{
  display: flex;
  height: auto;
  flex-direction: column;
}

.form2 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: auto;
}

.john {
  width: 100%;
  margin-top: 40px;
  height: 60px;
}

.hh {
  margin-bottom: 3px;
  flex:1;
  height: 38px;
}

.widther{
  width: 350px;
}

.formShow {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dd {
  height: 100vh;
}

.fl {
  flex:1;
  margin-bottom: 10px;
}

.fl2 {
  display: flex;
  align-items: center;
}
